table {

}

table tr {
    border: 1px solid rgb(143, 219, 255);
}

table tr th {
    border: 1px solid white;
    background: rgb(0,122,255);
    padding: 16px 24px;
    color: #fff;
}

table tr:nth-child(2) th {
    border-color: rgb(0,122,255);
    background: rgb(143, 219, 255);
    color: #000000;
}

table tr td {
    border: 1px solid rgb(143, 219, 255);
    padding: 16px 24px;
    text-align: center;
}

table tr .highlight {
    color: red;
}

table.second tr:nth-child(2) th {
    background: rgb(0,122,255);
    border-color: #fff;
    color: #fff;
}

table.second tr:nth-child(2n) {
    background: rgb(143, 219, 255);
    color: #000000;
}